# AWS Configuration - dair-sim
# Patrick Donnelly <pdonnelly95ef> - SRE credentials
# DO NOT COMMIT - accidentally left in repo

[default]
aws_access_key_id = AKIA23WHTWCGGEBPSUNF
aws_secret_access_key = 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
region = us-east-1
output = json
